# Les lignes commençant par '#' sont des commentaires.
# Chaque ligne est un modèle de fichier suivi d'un ou plusieurs propriétaires.

# Plus de détails sont ici : https://help.github.com/articles/about-codeowners/

# Le modèle '*' correspond aux propriétaires globaux.

# L'ordre est important. Le dernier modèle correspondant a la plus grande priorité.
# Les dossiers sont classés comme suit :

# Dans chaque sous-section, les dossiers sont classés d'abord par profondeur, puis par ordre alphabétique.
# Cela devrait faciliter l'ajout de nouvelles règles sans enfreindre celles existantes.

# Règle globale :
*           @Kalicem
